
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="title-container">
<ul class="options">   
      <!--<a routerLink="/all-games">All games</a>-->
      <!--<a routerLink="/add-game">Add game</a>-->
      <!--<a routerLink="/search-game">Search game</a>-->
      <a href="#">All games</a>
      <a href="#">Add game</a>
      <a href="#">Search game</a>
      
</ul>
<div id="title">
        <h1 id="travel">Nerd</h1>
        <h1 id="discover">board games shop</h1>
    </div>
</div>

<div class="content-container">
<!--<div *ngIf="selectedGame">
  <h2>{{selectedGame.name}} details!</h2>
  <div><label>id: </label>{{selectedGame.id}}</div>
  <div>
      <label>name: </label>
      <input [(ngModel)]="selectedGame.name" placeholder="name"/>
  </div>
</div>-->
<!--[class.selected]="game === selectedGame"-->
  <ul class="games">
    <li *ngFor="let game of games" (click)="onSelect(game)">
      <div class="box"><div class="box-body"></div><div class="box-footer">{{game.name}}</div></div> 
    </li>
  </ul>
  <!--<div class="content">-->
    <!--<router-outlet></router-outlet>-->
  <!--</div>-->
</div>

</body>
</html>
