<div class="allGamesContainer">
<div class="games">
   <div *ngFor="let game of games"> 
     <span *ngIf="game.name != null">
        <div class="box">
           <div class="box-body" [ngStyle]="{'background-image': 'url(' + game.urlImage + ')'}"></div>
             <div class="box-footer">
                  <div class="name"> {{game.name}} </div>
                  <div class="deleteButton"><button class="delete" (click)= "delete(game._id)">X</button></div>
                  <!--<div class="viewButton"><button class="view" (click)= "view_game(game._id)">O</button></div>                  -->
              </div>
        </div> 
     </span>
  </div>
</div>
</div>